<%- include("partials/header"); -%>
<h1>Compose</h1>
<form action="/compose" method="post">
	<div class="form-group">
		<label>Title</label>
		<input class="form-control" type="text" name="composeTitle"><br>
		<label>Post</label>
		<textarea class="form-control" name="composePost" cols="100" rows="7"></textarea><br> 
	</div>	
	<button class="btn btn-primary" type="submit" name="submit">Publish</button>
</form>	
<%- include("partials/footer"); -%>